PORT=3000
SESSION_SECRET=change-this-before-railway
DATA_MODE=local
LOCAL_DATA_DIR=./data
SEASON_ID=S3
CURRENT_WEEK=1
STARTING_BALANCE=1000
WEEKLY_ALLOWANCE=100
MAX_BET=250
PROP_MAX_BET=100
BET_LOCK_TIMEZONE=America/Los_Angeles
GOAL_TOTAL_LINE=10.5
GOAL_TOTAL_BOOST=1.5
